<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048354399745-gsoebrttke1oesr9blkiq38i0mtuv138.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048354399745-gsoebrttke1oesr9blkiq38i0mtuv138</string>
	<key>API_KEY</key>
	<string>AIzaSyAfSYVkUlvUVTFSQ6qaUzYd_lBWwg221Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>1048354399745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siga.firebase</string>
	<key>PROJECT_ID</key>
	<string>siga-ddeb3</string>
	<key>STORAGE_BUCKET</key>
	<string>siga-ddeb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048354399745:ios:aa7b19c67df98115298200</string>
</dict>
</plist>